* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    background: white;
    color: black;
    display: flex;
}

.app-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1vw;
    padding-left: 1vw;
}

.video-wrappers {
    display: flex;
}

.video {
    border: 1px solid red;
    width: 240px;
}

#remote {
    margin-left: 2vw;
}

.button-wrappers {
    margin-top: 5vh;
    display: flex;
}

.button {
    background: black;
    color: white;
    padding: 1vw;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
}

#answer {
    margin-left: 1vw;
}

.sdpTextArea {
    margin-top: 5vh;
}